<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mystudyapp.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".loginandsign.SignAndLogin"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes" />
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.ResetGenderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes" />
        <activity
            android:name=".activity.ResetAreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes" />
        <activity
            android:name=".activity.PersonalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes" />
        <activity
            android:name=".activity.NickSignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes" />
        <activity
            android:name=".activity.SearchForAddFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes" />
        <activity
            android:name=".activity.FriendRecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes" />
        <activity
            android:name=".activity.FriendInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes" />
        <activity
            android:name=".activity.BrowserViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes" />
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name=".activity.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseThemes"></activity>
    </application>

</manifest>